[Install]
WantedBy=default.target

[Container]
Pod=tussell.pod
Image=docker.io/clickhouse/clickhouse-server:latest
ContainerName=clickhouse
Volume=%h/container-volumes/%N/data:/var/lib/clickhouse:z
Volume=%h/container-volumes/%N/logs:/var/lib/clickhouse-server:z
Environment=CLICKHOUSE_PASSWORD=clickhouse
Ulimit=nofile=262144:262144
