[Install]
WantedBy=default.target

[Container]
Image=docker.io/library/postgres:17
ContainerName=postgres17
Environment=PGDATA=/var/lib/postgresql/data/pgdata
Volume=%h/container-volumes/%N/data:/var/lib/postgresql/data:z
Volume=%h/container-volumes/%N/ssl:/etc/postgresql/ssl:z
Volume=%h/container-volumes/%N/config/postgresql.conf:/etc/postgresql.conf:z
Volume=%h/container-volumes/%N/config/pg_hba.conf:/etc/pg_hba.conf:z
Environment=POSTGRES_PASSWORD=postgres
PublishPort=5431:5432
Network=tussell.network
Exec=-c config_file=/etc/postgresql.conf
