[Install]
WantedBy=default.target

[Container]
Image=docker.io/library/postgres:14
ContainerName=postgres
Environment=PGDATA=/var/lib/postgresql/data/pgdata
Volume=/home/benjamin/container-volumes/postgres/data:/var/lib/postgresql/data:z
Volume=/home/benjamin/container-volumes/postgres/ssl:/etc/postgresql/ssl:z
Volume=/home/benjamin/container-volumes/postgres/config/postgresql.conf:/etc/postgresql.conf:z
Volume=/home/benjamin/container-volumes/postgres/config/pg_hba.conf:/etc/pg_hba.conf:z
Environment=POSTGRES_PASSWORD=postgres
PublishPort=5430:5432
Network=tussell.network
Exec=-c config_file=/etc/postgresql.conf
