[Install]
WantedBy=default.target

[Container]
Image=docker.io/library/redis:latest
ContainerName=redis
PublishPort=6379:6379
Network=tussell.network
