[Install]
WantedBy=default.target

[Container]
Pod=tussell.pod
Image=docker.io/library/registry:2
ContainerName=local-registry
Volume=/home/benjamin/container-volumes/registry:/var/lib/registry:Z
Environment=POSTGRES_PASSWORD=postgres
