[Unit]
Description=Launches rsync when usb drive is mounted
Requires=run-media-benjamin-PortableUsbDrive.mount
After=run-media-benjamin-PortableUsbDrive.mount

[Service]
ExecStart=/home/benjamin/scripts/usb-sync.sh /run/media/benjamin/PortableUsbDrive /run/media/benjamin/USB-Raid/Backups/Ruth

[Install]
WantedBy=run-media-benjamin-PortableUsbDrive.mount

